<%= link_to 'New Site', new_site_path, class: 'pure-button button-green' %>

<table class="pure-table pure-table-striped full-width">
  <thead>
    <tr>
      <th>Site</th>
      <th>Hostname</th>
      <th>Updated By</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% sites.each do |site| %>
      <tr>
        <td><%= link_to site.name, site_path(site) %></td>
        <td><%= site.host %></td>
        <td><%= site.updated_by %></td>
        <td class="minimal">
          <%= link_to 'Edit', edit_site_path(site), class: 'pure-button button-orange' %>
          <%= link_to 'Delete', site_path(site), method: :delete,
            class: 'pure-button button-red', data: { confirm: 'Are you sure you want to delete this site?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @sites %>

